In [1]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [2]:
"Hello"

'Hello'

In [3]:
120/12*2-4

16.0

In [4]:
(5-2)*10

30

In [5]:
marks=50
marks

50

In [6]:
type(marks)

int

In [7]:
5**4

625

In [8]:
price=50.5
price # only shows output of last line
type(price)

float

In [9]:
name="Snehal"
type(name)

str

In [10]:
dir(str) # all methods that can be applied on strings
# __ dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [12]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [13]:
str1.lower()

'welcome to data science.'

In [14]:
str1.title()

'Welcome To Data Science.'

In [15]:
food="bIrYAni"
name="sNEHAL"
print(food.swapcase())
name.swapcase()

BiRyaNI

'Snehal'

In [16]:
Name= "riCha"
Name.swapcase()

'RIcHA'

In [17]:

s1="My name is Snehal."
print(s1.split()) # list of strings is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Snehal.']

['Mumbai', 'Pune', 'Mumbai']

In [18]:
mail="snehal@excelr.com"
mail.split("@")

['snehal', 'excelr.com']

In [19]:

s1.replace("Snehal","Richa")

'My name is Richa.'

In [20]:
# single line comment
'''
multiline comment 
'''

'\nmultiline comment \n'

In [21]:
city="satara"
city.count("a")

3

In [22]:
"Satara".count("a")

3

In [23]:
name="Raj"
name*4

'RajRajRajRaj'

In [24]:
n1=5
n1*5

25

In [25]:

name="rajesh "+" Kulkarani"

In [26]:
name

'rajesh  Kulkarani'

In [27]:
# Conditional Statement
a=30
b=20
if(a>b):
  print("a is greater")
else:
  print('b is greater')

a is greater

In [28]:
a=20
b=30
if(a>b):
  print(a,"is greater")
else:
  print("Greatest number is:",b)

Greatest number is: 30

In [29]:
salary=35000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print(net_sal)  
# change value of salary as 15000 and execute again

Hello from true if
Bye... outside of if block
26250.0

In [30]:
salary=15000
if (salary>15000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print("Net Salary=",net_sal)

Hello from false if / else
Bye... outside of if block
Net Salary= 12000.0

In [31]:
range(5,10)

range(5, 10)

In [32]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [33]:
# For Loop
for number in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(number)

5
6
7
8
9

In [34]:
for i in range (1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [35]:

for i in range(1,6):
  print(i)

1
2
3
4
5

In [36]:
# print numbers 1 to 10


for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [38]:
#Even
for i in range(2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [39]:
#odd
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [40]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
    if i==5:
       #print("Same")
       break
    else:
        print(i)

1
2
3
4

In [41]:
for num in range(11): # 0 to 9 
  print(num, num*num) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [42]:
# range(start,stop,step)
for i in range(1,30,5):
  # print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [43]:
for number in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(number)
print("Bye")

5
6
7
8
9
Bye

In [44]:
for number in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(number)
  print("Bye")

5
Bye
6
Bye
7
Bye
8
Bye
9
Bye

In [45]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [46]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)
name="Richa"
for i in range(3,7):
  print(name*i)

RichaRichaRicha
RichaRichaRichaRicha
RichaRichaRichaRichaRicha
RichaRichaRichaRichaRichaRicha

In [47]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" # ") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

d # R # I # S # H # Y # A # M #

In [48]:
Name="Anushka"
for letter in name:
  print(letter,end=" ")

R i c h a

In [49]:
alphabet= "abcdefghij"
for letter in alphabet:
  print(letter.swapcase(),end=" ")

A B C D E F G H I J

In [50]:
alphabet= "abcdefghij"
for letter in alphabet:
  print(letter.swapcase(),end=" #")

A #B #C #D #E #F #G #H #I #J #

In [51]:
# Print all even and odd numbers between given range using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [52]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i)
    
print('Odd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to
    print(i)

Even Numbers:
2
4
6
8
10
Odd Numbers:
1
3
5
7
9

In [53]:
status1= True
type(status1)

bool

In [54]:
status2=False
type(status2)

bool

In [55]:
# print each letter 4 times with separator as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [56]:
for word in "Data science":
  print(word*2,end=" ")

DD aa tt aa    ss cc ii ee nn cc ee

In [57]:
len("My name")

7

In [58]:
len("richa")

5

In [59]:
# Data Structure: 1.LIST
# Lists are mutable.
# created using square brackets []
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [60]:
type(marks)

list

In [61]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
len(marks)

7

In [63]:
new_marks=sorted(marks) # creates new sorted list. Original marks list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [64]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [65]:
marks.sort() # original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [66]:
marks.append(35)
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [67]:
marks.reverse()

In [68]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [69]:
marks2=[42,64,50,78,87,80]

In [70]:
marks2.sort(reverse=True) # sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [71]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False)

In [72]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [73]:
90 in marks # checks whether 90 is present in list or not. IF yes returns True,

False

In [74]:
60 in marks2

False

In [75]:
50 in marks3

True

In [76]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 # concatenation of two list

[10, 20, 30, 40, 50, 60]

In [77]:
(list1+list2)*3 # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [78]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [79]:

for fruit in list3:
  print(fruit.replace("a","u"), end=" ")

Mungo Apple Bununu Pineupple Custurd Apple Struwberry

In [80]:
for fruit in list3:
  print(fruit.upper(),end=" ")

MANGO APPLE BANANA PINEAPPLE CUSTARD APPLE STRAWBERRY

In [81]:
for fruit in list3:
  print(fruit.lower(),end=" ")

mango apple banana pineapple custard apple strawberry

In [82]:
# In Python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [83]:
list3[0]

'Mango'

In [84]:
list3[4]

'Custard Apple'

In [85]:
list3.count("banana")

0

In [86]:
list3[6] # raise erro as index is upto 5 only (0 to 5)

IndexError: ignored

In [87]:
list3[5]

'Strawberry'

In [88]:
# Slicing
list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [89]:
# from Apple to Strawberry i.e. till end
list3[1:]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [90]:


# from beginning to Pinaapple
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [91]:

list3[:2]

['Mango', 'Apple']

In [92]:
# Negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [93]:
list3[-3]

'Pineapple'

In [94]:

list3[-6]

'Mango'

In [95]:


# start stop step in slicing
print(list3)
list3[::2] # 0,2,4,6

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [96]:

n1=[1:31] # to create list of 1 to 30 - will raise error

SyntaxError: ignored

In [97]:

n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [98]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [99]:
n1[0:25:5]

[1, 6, 11, 16, 21]

In [100]:
# print nos from index 2 to 26 with step value of 5
n1[2:26:5]

[3, 8, 13, 18, 23]

In [101]:
print(list3, end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [102]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [103]:
list3[::-3]

['Strawberry', 'Banana']

In [104]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [105]:
"Mango" in list3

True

In [106]:
'therer' in 'Netherland'

False

In [107]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [108]:
list3.append("Mulberry")

In [109]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [110]:
# display fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [111]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [112]:
list3.append("Black berry")

In [113]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [114]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)   
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [115]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)
print(l1,end=" ")  
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [116]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ") 
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [117]:
list3
list3.append("Black berry")

In [118]:
# extract fruit names containing substring 'berry' using List comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry',
 'Black berry']

In [119]:
list3.remove("Black berry")

In [120]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [121]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [122]:
print(newlist, end=" ")

['Strawberry', 'Mulberry', 'Black berry']

In [123]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [124]:
print(newlist1,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [125]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [126]:
list3.index('Mango')

0

In [127]:
list3.index("Mulberry")

6

In [128]:
list3[:5]

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [129]:
list3.index('Black berry')

7

In [130]:
list3.index('Orange') # will raise error as item is not present in the list

ValueError: ignored

In [131]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [132]:
list3[5]="Chiku"

In [133]:
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Chiku',
 'Mulberry',
 'Black berry']

In [134]:
# Data Structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
# created using round brackets ()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [135]:
type(t1)

tuple

In [136]:
t1[0]

1

In [137]:
t1[0]=7 #'tuple' object does not support item assignment

TypeError: ignored

In [138]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [139]:
t1.count(1)

1

In [140]:
t1.index(4)

3

In [141]:
t2=(1,1,1,2,2,6,6,6,6,6)
t2.count(6)

5

In [142]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [143]:
t1

(1, 2, 3, 4, 5)

In [144]:
t1[1:5]

(2, 3, 4, 5)

In [145]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value pairs".
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values. 
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [146]:
type(capital_dict)

dict

In [147]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [148]:
# access element of dictionary
capital_dict["England"]

'London'

In [150]:
capital_dict["Nepal"]

'Kathmandu'

In [151]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [152]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [153]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [154]:
capital_dict.values()

dict_values(['Kathmandu', 'Rome', 'London'])

In [155]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [157]:
capital_dict.items()

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [158]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [160]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [161]:
capital_dict.update({"Australia":"Sydney"}) # capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [162]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [163]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [164]:
capital_dict['abc']=("Mumbai")

In [165]:
capital_dict["Virat"]=("kohali")

In [166]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Virat': 'kohali'}

In [167]:
capital_dict.popitem() #automatic remove last item

('Virat', 'kohali')

In [168]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [169]:
capital_dict.pop("abc")

'Mumbai'

In [170]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [171]:
# Keys can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [172]:
mytuple=(20,53,45,78,89,65,97)

In [173]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [174]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [175]:
mydict["B"]

(20, 53, 45, 78, 89, 65, 97)

In [176]:
mydict["C"]

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [177]:
mydict['A'][3] #index 0 1 2 3, 3rd element = banana

'Banana'

In [178]:
mydict['C']['India']

'New Delhi'

In [179]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: ignored

In [180]:
from math import sqrt
sqrt(25)

5.0

In [182]:
from math import factorial

In [183]:
factorial(9)

362880

In [ ]:
sin(90)

In [185]:
from math import sin,cos,tan

In [187]:
sin(90)

0.8939966636005579

In [188]:
tan(45)

1.6197751905438615

In [189]:
from math import *
l2=[5,2,3]
prod(l2)

30

In [190]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2, 2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [191]:
import math
l1=[2,3,4]
math.prod(l1)

24

In [192]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']