In [1]:
import pandas as pd
import numpy as np
from scipy import stats

#Super Market Example

In [2]:
1-(stats.t.cdf(2.23,df=79))

0.014292908802574056

In [3]:
# Call center example
#1-stats.t.cdf(1.4,49)
#stats.t.cdf(-1.4,49)
r=2*stats.t.cdf(-1.4,49)
print(r)
print(round(r,4))
print("Rounded Value=",round(r,4))

0.16781331091681306
0.1678
Rounded Value= 0.1678

# Call Center example

In [5]:
t= (4.6-4)/(3/np.sqrt(50)) #t value for Xbar=5.6, mu= 4 s=3 n=50
t

1.4142135623730943

In [6]:
p=2*stats.t.cdf(-1.41,49)
p

0.1648559451804547

# One tail test

In [7]:
data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [8]:
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [9]:
p=stats.ttest_1samp(data,0.3)[1] # mu=0.3, index of p-value is 1, so [1] is given
# pvalue=0.05853032968489765 here, p = p1+p2
p

0.05853032968489765

In [10]:
stats.ttest_1samp(data,0.3)

TtestResult(statistic=2.2050588385131595, pvalue=0.05853032968489765, df=8)

# Two Tail test

In [11]:
# comparing drugs - Control group and treatment group
Control=pd.Series([91, 87, 99, 77, 88, 91])
Treat =pd.Series([101, 110, 103, 93, 99, 104])

In [12]:
stats.ttest_ind( Control,Treat) # two tail independent
# p=p1+p2. We are conducting 2 sample 2 tail test, so no need to divide p by 2.
# p=0.006, alfa=0.05, p<alfa so reject null hypo. so accept alt. Hypo
# interpretation: 2 responses are not equal so drug is working.

Ttest_indResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803)

# 2 Proportion Test

In [13]:
#Data: Placement Data example

n1 = 247
p1 = .37 # proportion is 0.37

n2 = 308
p2 = .39 # proportion is 0.39

In [14]:
population1 = np.random.binomial(1,  p1, n1) # 1 - placed i.e. probability of success, 0-not placed
population2 = np.random.binomial(1, p2, n2) # as its a random function every time you execute, you will get diff ans.

In [15]:
population1 # 247 student's data. 0-not placed, 1-placed

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0])

In [16]:
population2

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [17]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)# middle is the p-value
# p>0.05 so accept null hypo.
# interpretation: students are almost equally got placed in 2 states. 
# i.e. no significant difference in providing placement opportunities to students in 2 states.

(-0.2764333806319104, 0.7823185038631043, 553.0)

In [21]:
import statsmodels.api as sm

p=0.05

population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

x=sm.stats.ttest_ind(population1, population2)[1]
print(x)
print(round(x,3))
if x>p:
  print(f'Accept null hypothesis\n--------------------------')
else:
  print(f'Failed to reject the null hypothesis\n--------')

0.8434634029030752
0.843
Accept null hypothesis
--------------------------